@font-face {
  font-family: handwritten_bold;
  src: url(media/fonts/SFCartoonistHandSC-Bold.ttf);
}

@font-face {
  font-family: handwritten;
  src: url(media/fonts/SFCartoonistHandSC.ttf);
}

#Dennis_in_the_ligh{
    max-width: 100%;
}

#Dennis_spotlight{
    width: 1000px;
}

p{
    font-size: 20px;
}

figure{
    margin: 0px;
}

body{
    margin: 0px;
}

#first_question{
    z-index: 99;
    position: absolute;
    top: 65%;
    right: 0;
    margin-right: 3%;
}

#bubble{
    z-index: 99;
    position: absolute;
    top: 156px;
    left: 0;
    margin-left: 6px;
    width: 550px; 
}

#bubbleText{
    z-index: 200;
    position: absolute;
    top: 230px;
    left: 50px;
    margin-left: 6px;
    width: 350px; 
    font-size: 45px;
    font-weight: 800;
}

#explain{
    max-width: 30%;
    z-index: 100;
    position: absolute;
    top: 10%;
    left: 0;
    margin-left: 3%;
}

#black{
    background-color: black;
}


:root {
    --backgroundColor: rgba(246, 241, 209);
    --colorShadeA: rgb(106, 163, 137);
    --colorShadeB: rgb(121, 186, 156);
    --colorShadeC: rgb(150, 232, 195);
    --colorShadeD: rgb(187, 232, 211);
    --colorShadeE: rgb(205, 255, 232);
  }
  
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
  * {
    box-sizing: border-box;
  }
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    font-family: "handwritten";
    font-size: 2.5rem;
    line-height: 1.3;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background: var(--backgroundColor);
  }
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    font-weight: 1000;
    text-transform: uppercase;
    font-family: inherit;
    margin: 3%;
  }
  
  button.big-button {
    padding: 1em 2em;
    border: 5px solid black;
    border-radius: 1em;
    background: var(--colorShadeE);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
    width: 400px;
  }
  button.big-button::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
    transform: translate3d(0, 0.75em, -1em);
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  
  button.big-button:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
  }
  
  button.big-button:hover::before {
    transform: translate3d(0, 0.75em, -1em);
  }
  
  button.big-button:active {
    transform: translate(0em, 0.75em);
  }
  
  button.big-button:active::before {
    transform: translate3d(0, 0, -1em);
  
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
  }

#anvil{
  width: 1100px;
  position: absolute;
  top: 0;
  left: 10%;
}

#anvilCut{
  width: 1000px;
  position: absolute;
  top: 0;
  left: 10%;
}

#glass_fallen{
  width: 1500px;
}


#scissors{
    z-index: 100;
    position: absolute;
    top: 7%;
    right: 0;
    margin-right: 20%;
    width: 500px;
}

#scissors_2{
    z-index: 100;
    position: absolute;
    top: 7%;
    left: 0;
    margin-left: 10%;
    width: 500px;
}

#cut_text{
    font-size: 30px;
    z-index: 999;
    position: absolute;
    right: 15%;
    top: 60%;
    background-color: rgba(229, 229, 229, 70%);
    padding: 2%;
    border-radius: 20px;

}

#cut_text2{
  font-size: 30px;
  z-index: 999;
  position: absolute;
  right: 5%;
  top: 40%;
  background-color: rgba(229, 229, 229, 70%);
  padding: 2%;
  border-radius: 20px;

}

.tagline {
    font-size: 7rem;
    color: white;
    position: absolute;
    top: 30vh;
    width: 100%;
    text-align: center;
  }

#end_credits{
    z-index: 100;
    position: absolute;
    top: 20%;
}

.garden{
  background-image: url("media/House-bg.png");
  background-repeat: no-repeat;
  background-blend-mode: darken;
  height: 120vh;
 }

#garden{
  width: 100vw;
}

#hand_bg{
  max-width: 100%;
  z-index: 0;
  /* position: absolute; */
  
}

#faye_hand{
  width:700px;
  z-index: 99;
  position: absolute;
  top: 190px;
  left: 0;
}

#tipping{
  width: 600px;
  z-index: 90;
  position: absolute;
  top: 320px;
  left: 600px;
}


h5{
  margin: 0%;
  padding: 0%;
}
#info {
  font-size: 1.5rem;
  display: none;
  margin: 0%;
  padding: 0%;
  font-weight: 1000;
}

#table {
  padding-left: 2%;
  padding-right: 2%;
	display: table;
	width: 100%;
  background-color: rgba(229, 229, 229, 70%);
  z-index: 99;
    position: absolute;
    top: 2%;
    left: 2%;
    bottom: 50%;
    max-width: 35%;
    height: 300px;
border-radius: 20px;
}

#centeralign {
	display: table-cell;
	vertical-align: middle;
}

#broll2{
  z-index: 999;
  position: absolute;
  right: 5%;
    top: 60%;
}

#faye{
  height: 100vh;
}

#faye_back{
  height: 500px;
  z-index: 1;
  position: absolute;
  bottom: -15%;
  left: 20%;

}

#anvil_falling_animated{
  -webkit-animation: anvil_fall 4s;
  animation: anvil_fall 4s;
}

.anvil_fall{
  animation-fill-mode: backwards;
  width: 300px;
  position: absolute;
  z-index: 9;
  top: -50%;
  left: 35%;
}

@keyframes anvil_fall {
  0% {transform: translateY(0) translateX(0)}
  100% {transform: translateY(450px)}
}

#funeral{
  position: absolute;
  top: -100px;
  max-width: 100%;
  padding: 0px;
}

#funeral img{
  max-width: 98vw;
}

.funeral_page{
  height: 100vh;
  background-color: #000;
}

#click{
  width: 300px;
  position: absolute;
  z-index: 100;
  top: 180px;
  right: 250px;
}


#click2{
  width: 300px;
  position: absolute;
  z-index: 100;
  top: 100px;
  right: 550px;
  transform: rotate(220deg);
}

#tiny_bubble1{
  position: absolute;
  top: 100px;
  left: 800px;
  scale: 0.25;
}

#tiny_bubble2{
  position: absolute;
  top: 100px;
  left: 1000px;
  scale: 0.375;
}

#tiny_bubble3{
  position: absolute;
  top: 250px;
  left: 1000px;
  scale: 0.5;
}

#tiny_bubble4{
  position: absolute;
  top: 300px;
  left: 600px;
  width: 30%;
  height: 30%;
}

#tiny_bubble5{
  position: absolute;
  top: 200px;
  left: 400px;
  width: 60%;
  height: 60%;
}

#tiny_bubble6{
  position: absolute;
  top: 50px;
  left: 100px;
  width: 90%;
  height: 90%;
}

#tiny_bubble7{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.back_btn{
  position: fixed;
  z-index: 999;
  top: 2%;
  right: 2%; 
  max-width: 40%; 
  background-color: #EEA540;
  padding: 1%;
  border-radius: 10px;
  border: solid 2px #000;
}

.back_btn a{
  color: #000;
}

.back_btn_nonIndex{
  position: fixed;
  z-index: 999;
  top: 2%;
  left: 2%; 
  max-width: 40%; 
  background-color: #EEA540;
  padding: 1%;
  border-radius: 10px;
  border: solid 2px #000;
}

.back_btn_nonIndex a{
  color: #000;
}
